.alice-carousel__stage-item {
    /* margin-right: 30px !important; */
    /* position: relative !important; */
    /* right: 10px !important; */
    /* margin-right: 20px !important; */
}


/* .alice-carousel__stage {
    gap: 2 !important;
} */

.alice-carousel__stage-item {
    /* margin-left: 10px !important; */
    /* width: auto !important; */
}

.profile-page .profile-social-item {
    /* width: 100% !important;
    margin: 0 !important;
    border-radius: 0 !important; */
}

.css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
    padding-right: 28px !important;
}

.css-19ygod6-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input {
    font-size: 10px !important;
    height: auto !important;
}